<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Qunity\Video\Block\VideoPlayer">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="Qunity_Video::required_config"
                      xsi:type="object">Qunity\Video\Block\VideoPlayer\LayoutProcessor\RequiredConfig\Proxy</item>
            </argument>
        </arguments>
    </type>
</config>
