<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Qunity\Base\Model\Service\GetCustomUrlList">
        <arguments>
            <argument name="pathListData" xsi:type="array">
                <item name="validate-youtube-video-metadata" xsi:type="array">
                    <item name="route_path" xsi:type="string">qunity_video/youtube_metadata/validate</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
