<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="youtube_video" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>YouTube Video</label>
            <tab>qunity</tab>
            <resource>Qunity_Video::youtube_section</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Configuration</label>
                <field id="api_key" translate="label,comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Google API Key</label>
                    <comment>This API key is used to retrieve video metadata from YouTube.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
