@import (css,inline) "lib/videojs/videojs.min.css";
@import "lib/videojs/skins/m2luma";

@preview-background-color: #000;
@preview-big-button-hover-color: #eee;

.video-wrapper {
  position: relative;
  width: max-content;
  height: max-content;

  .video-js.vjs-loading,
  .video-js.vjs-preview {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: @preview-background-color;

    .vjs-poster-image {
      z-index: 1;
    }

    .vjs-top-bar {
      z-index: 2;
    }

    .vjs-big-button {
      z-index: 2;

      &:not(._animate) > button {
        visibility: visible;
      }

      button {
        .vjs-icon-placeholder {
          transition: .1s;

          &:before {
            opacity: 1;
          }

          &:hover {
            filter: drop-shadow(0 0 .5em @preview-big-button-hover-color);
            transform: translate(-50%, -50%) scale(1.05);
          }

          &:active {
            transform: translate(-50%, -50%) scale(.95);
          }
        }
      }
    }

    .vjs-error-info {
      z-index: 3;
    }
  }
}
